/* bakeapie.org by t@bakeapie.org */
/* this beautiful and clean layout has some elements inspired by http://david.heinemeierhansson.com */

/* thanks to paul o'rely for code revision http://orely.me */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	color: #222;
	font-family: Georgia, "DejaVu Serif", serif;
	margin: 5em auto; /* 5em = 80px = initial reference for GR */
	width: 520px;
	line-height: 1.5em;
}

a {
	color: #03a0db;
}

a:visited {
	color: #007cab;
}

h1 {
	font-weight: normal;
	font-size: 2em;
	margin-bottom: .5em;
	line-height: 1.1em;
}

h2 {
	font-weight: normal;
	font-size: 1.4em;
	margin: 1.6em 0 .8em 0;
	line-height: 1.2em;
}

p {
	margin: 0 0 1em .1em;
}

header {
	margin-bottom: 3em;
}

.profile {
	background-size: 100%;
	display: block;
	height: 129px; /* GR */
	width: 129px; /* GR */
	overflow: hidden;
	border-radius: 50%;
	margin: 0 1.1875em 1.1875em 0; /* GR */
	float: left;
}

.social {
	font-size: .95em;
	line-height: 1.4em;
	color: #5a5a5a;
}

.social a {
	text-decoration: none;
	margin-right: .6em;
}

.social a:hover {
	text-decoration: underline;
}

.caption {
	display: block;
	font-style: italic;
	font-size: .95em;
}

@media screen and (max-width: 520px) {
	body {
		margin: 2.5em auto; /* 2.5em = 40px = initial reference for GR */
		padding: 0 1.5625em; /* GR */
		width: auto;
		word-wrap: break-word;
	}

	.profile {
		height: 105px; /* GR */
		width: 105px; /* GR */
		margin: 0 0.9375em 0 0; /* GR */
	}

	img {
		max-width: 100%;
		width: auto;
		height: auto;
	}
}